<div class="contenedor-neon">
    <div style="display: grid; justify-content: center;">
        <div style="text-align: center; margin-bottom: 3%;">
            <img class="contenedor-foto" src="../../../assets/yo.jpg" width="150px" height="180px">
        </div>

        <p style="color: white; font-weight: bold; font-size: 1.2rem;">
            Pong es un juego clásico de tenis de mesa virtual en el que dos jugadores 
            golpean una pelota de un lado a otro de la pantalla usando paletas. 
            El objetivo es golpear la pelota hacia el lado del oponente sin que pueda devolverla. 
            El primer jugador en alcanzar un número predeterminado de puntos gana. 
            Es un juego simple pero adictivo que requiere reflejos rápidos y habilidad para golpear la pelota 
            en el momento adecuado. En este caso, el primer jugador utiliza las teclas "w" para moverse hacia 
            arriba y "s" para moverse hacia abajo, mientras que el segundo jugador utiliza las teclas "i" para 
            moverse hacia arriba y "k" para moverse hacia abajo.
        </p>
    </div>
</div>

